<div class="row justify-content-center alert-text">
  <div class="col-auto mx-auto">
<% if resource.errors.any? %>
  <div id="error_explanation">
    <div>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </div>
      <% resource.errors.full_messages.each do |message| %>
        <div class="text-center">※<%= message %></div>
      <% end %>
  </div>
<% end %>
</div>
</div>
