<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto mx-auto mb-2">
      <h3>ブックマーク一覧画面</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= render "posts/form_index", posts: @posts %>
  </div>
</div>
