<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <%= attachment_image_tag @user, :profile_image, class:"profile_image", fallback: "no_image.jpg", size:'250x250', class: "rounded-circle"  %>
    </div>
    <div class="col-md-7">
      <div class="row">
        <%= @user.user_name %>
      </div>
      <div class="row mt-md-3">
        <%= @user.introduction %>
      </div>
    </div>
  </div>
</div>