/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  font-family: 'Noto Sans JP', sans-serif;
 }

 .nav-item {
  font-size: 14px;
 }

 .navbar-nav li:hover {
  text-decoration: underline !important;
 }

 .navbar-nav li +li{
  border-left: 1px solid white;
  padding: 0 5px 0 5px;
}

 header {
  background-color: #FF9900;
 }

 footer {
  background-color: #FF9900;
 }

 body {
  background-color: #FFFFEE;
 }

 main {
  padding-bottom: 10px;
  .container {
   padding-top: 30px;
  }
  .container-fluid {
   padding-top: 30px;
  }
  .row {
   margin-right: 0;
   margin-left: 0;
  }
 }

 .heart_red {
  color: red;
 }

.heart_blue {
  color: blue;
 }

.card-header {
 padding-top: 5px;
 padding-bottom: 5px;
 margin-bottom: 10px;
}

.card-body {
  padding-bottom: 0;
  padding-top: 10px;
}

.card-title {
 margin-bottom: 5px;
}

.card-text {
 margin-bottom: 5px;
}

.card-footer {
 padding-top: 5px;
 padding-bottom: 5px;
}

.product_show_image {
 max-height: 453px;
 max-width: 340px;
}

.product_index_image {
 width: 206px;
 height: 206px;
 object-fit: cover;
}

.product_index_image:hover {
  opacity: 0.8;
}

.alert-text {
 color: red;
}

p {
 margin-bottom: 5px;
}

.btn-skin{
 background-color: #FFEBCD;
}

.btn-orange{
 background-color: #FF9900;
 color: #FFFFEE;
}

.btn-pink{
 background-color: #de6770;
 color: #FFFFEE;
}

.btn-blue {
 background-color: #187fc4;
 color: #FFFFEE;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url("main.jpg");
  background-size: cover;
  background-position: center;
}

.bg-mask {
 height: 100%;
 background-color: rgba(255, 255, 255, 0.3);
}

.main-visual-content {
  width: 40%;
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.main-visual-name {
 font-size: 40px;
}

.main-visual-text {
 font-size: 20px;
 color: white;
 margin-bottom: 30px;
}

.top-btn {
 width: 200px;
 margin-top: 15px;
 border-radius: 10px;
}

.main-text-title {
 width: 100%;
 height: 200px;
 background-color: white;
 border-bottom: 8px solid #f7f7f7;
}

.main-text-body {
 width: 100%;
 height: 300px;
}

.text-title {
 text-align: center;
 font-size: 50px;
 padding-top: 60px;
 color: #FF9900;
}

.text-body {
 text-align: center;
 margin-top: 30px;
 font-size: 30px;
}

.text-body-small {
 text-align: center;
 margin-top: 30px;
 font-size: 20px;
}

.text-orange {
 color: #FF9900;
 font-size: 20px;
}

.about-visual {
  width: 100%;
  height: 400px;
  background-image: url("about.jpg");
  background-size: cover;
  background-position: center;
}

.about-bg-mask {
 height: 100%;
 background-color: rgba(255, 255, 255, 0.5);
}

.about-visual-content {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 250px;
}

.about-visual-text {
 font-size: 40px;
 color: white;
}

.about-text-body {
 width: 100%;
 height: 400px;
}

.about-image1 {
 width: 100%;
 height: 300px;
 background-image: url("about1.png");
 background-size: 100% 100%;
}

.about-image2 {
 width: 100%;
 height: 300px;
 background-image: url("about2.png");
 background-size: 100% 100%;
}

.about-image3 {
 width: 100%;
 height: 300px;
 background-image: url("about3.png");
 background-size: 100% 100%;
}

.card-header-about {
 font-size: 20px;
 background-color: #FF9900;
 color: white;
 height: 50px;
 padding-top: 10px;
}

