/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 // .image {
 //  object-fit: contain;
 //  background-color: #FFFFEE;
 // }

 header {
  background-color: #FF9900;
 }

 footer {
  background-color: #FF9900;
 }

 body {
  background-color: #FFFFEE;
 }

 main {
  padding-top: 30px;
  padding-bottom: 30px;
 }

 .heart_red {
  color: red;
 }

.heart_blue {
  color: blue;
 }

.card-header {
 padding-top: 5px;
 padding-bottom: 5px;
 margin-bottom: 10px;
}

.card-body {
  padding-bottom: 0;
  padding-top: 10px;
}

.card-title {
 margin-bottom: 5px;
}

.card-text {
 margin-bottom: 5px;
}

.card-footer {
 padding-top: 5px;
 padding-bottom: 5px;
}

.product_show_image {
 max-height: 453px;
 max-width: 340px;
}

.product_index_image {
 max-width: 190px;
 height: 253px;
 object-fit: cover;
}

.product_edit_image {
 max-height: 460px;
 max-width: 340px;
}

.alert-text {
 color: red;
}

p {
 margin-bottom: 5px;
}