<p>※このメールは自動送信メールです。</p>

<p>ようこそ！</p>
<p><%= @email %>様</p>

<p>ベビトピ（baby_topics）です。</p>
<p>この度はベビトピにご登録いただきありがとうございます。</p>

<p>下記のリンクからアカウントメールの確認をお願いいたします。</p>

<p><%= link_to 'アカウントメールの確認はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>


<p>※このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。</p>

<p>
覚えがないのにこのメールが届いたという方<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>
<p>baby.baby.topics@gmail.com</p>

<p>――――――――――――――――――――――――――――――</p>
ベビトピ（baby_topics）<br>
URL ： http://babytopics.net/<br>
Mail ： baby.baby.topics@gmail.com<br>
<p>――――――――――――――――――――――――――――――</p>