<p>こんにちは！ベビトピ（baby_topics）です。</p>

<p>先ほど＜<%= @resource.email %>＞こちらのメールアドレスにてパスワードを変更するためのリンクが要求されました。</p>

<p>以下のリンクからパスワードの変更を行うことができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしリクエストしていない場合は、このメールを無視してください。</p>

<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
